<h1>Ask the stupid coach</h1>
<h2>The question for the coach is...</h2>
<form action="/answer" method="get">
  <input type="text" name="question" placeholder="What is your question?">
  <input type="submit">
</form>
